* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    background-color: #101D48;
    color: white;
    width: 70%;
    margin: auto;
    /* text-align: center; */
}

hr {
    margin: 0.5em 0;
    height: 0.1em;
    background-color: #FF5900;
}

header {
    margin-top: 0.75em;
}

main {
    padding: 1em;
}

footer {
    padding: 1em;
}

footer div {
    display: inline-block;
}

a:visited {
    color: white;
}

.navbar {
    display: flex;
}

.navbar .brand {
    text-align: left;
    padding: 0.5rem;
    margin: auto;
}

.a_none_decoration {
    text-decoration: none;
    color: white;
}

#name_brand {
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

.navbar_items {
    width: 40%;
    margin: auto;
}

.navbar_items ul {
    display: flex;
    justify-content: space-around;
}

.li_none {
    display: inline-block;
    list-style: none;
}

.navbar_items ul li {
    font-size: 1em;
    font-weight: 600;
}

#profile_photo {
    border-radius: 50%;
}